<title>The community sentiment of {{ project }}</title>
  <h1>{{ project }}!</h1>

  <div>plot</div>

  <div>badge</div>
  <img src="https://img.shields.io/badge/{{ badge }}">
  <br>
  Add this badge to your website adding this to your README.md
  <div> [![Community](https://img.shields.io/badge/{{ badge }})]</div>

  <div> tweets </div>
  <ul class=tweets>
  {% for tweet in tweets %}
  <div>
    <li>{{tweet.text}}
    <div>
    {{tweet.date}}
    </div>
  </div>
  {% else %}
  <li><em>Your community is not tweating</em>
  {% endfor %}
  </ul>

